# backups
*~
*.bak

# LaTex
*.aux
*.log
*.bbl
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.vtc
*.blg
# MacOS X
.DS_Store

# Byte-compiled / optimized / DLL files
a.out
shuttle/
__pycache__/
*.py[cod]
*$py.class
__.ipynb_checkpoints__/

#IDE file
.idea