    
    <br>
<!--
<button class="collapse-all">Collassa albero</button>
<button class="collapse-all">Espandi albero</button>
-->
<button class="button left" onclick="exportMap();">Genera Archivio da consegnare</button>
<!--<button class="button right" onclick="clearStorage();">Cancella Mappa</button>-->
<br>
<div>
<div style="width:100%; height:50px"></div>
<div>

    <p class="blockcenter center">Esame di Ricerca Operativa</p> 
    
    <p>
        <b>Informazioni</b>
        <br>
        Questa mappa pu&ograve; essere utilizzata per prendere note sullo svolgimento degli esercizi e mantenere un quadro sul punteggio totale raccolto.
        <br>
        Valuta tu, se ti viene utile, compilare la cella col punteggio stimato per ottenere questo servizio e mantenere un quadro della situazione.
        <br>
        Al termine dell'esame premi il tasto "Genera Archivio da consegnare"
        <br>
        Verranno generati 2 file:<br>
        - Il file zip con l'archivio compresso contenente tutto il tuo lavoro.<br>
        - firma_digitale.txt<br>
        <br>
        Se la tua connessione &egrave; buona puoi mandarci semplicemente l'archivio compresso.<br>
        In caso contrario sar&agrave; possibile sottomettere anche se hai poca o nessuna banda in upload: basta che ci invii entro i 
        tempi concordati per la consegna, la firma digitale come spiegato nel file "firma_digitale.txt"<br>
        <b>NOTA</b>: Non modificare l'archivio compresso, che dovrai far pervenire entro un paio di giorni. Se non arriva entro i tempi della consegna, sar&agrave; comunque ritenuto valido solo
        se la sua firma digitale corrisponde a quella che ci hai mandato entro i termini della consegna.<br>

    </p> 
    
</div>
</body>
</html>