    
    <br>
<!--
<button class="collapse-all">Collassa albero</button>
<button class="collapse-all">Espandi albero</button>
-->
<button class="button left" onclick="exportMap();">Genera Archivio da consegnare</button>
<!--<button class="button right" onclick="clearStorage();">Cancella Mappa</button>-->
<br>
<div>
<div style="width:100%; height:50px"></div>
<div>

    <p class="blockcenter center">Esame di Ricerca Operativa</p> 
    
    <p>
        <b>Informazioni</b>
        <br>
        Questa mappa pu&ograve; essere utilizzata per prendere tue note sullo svolgimento degli esercizi. Valuta tù, se ti viene utile, compilare la cella col punteggio (auto-)stimato per mantenere un quadro sul punteggio complessivo raccolto e gestione presente del tuo esame.
        <br>
        Al termine dell'esame premi il tasto "Genera Archivio da consegnare"
        <br>
        Verrà generata una cartella "consegna_esameRO-2020-07-27" contenente 2 file:<br>
        - Il file zip è l'archivio compresso contenente tutto il tuo lavoro.<br>
        - il file "firma_digitale.txt" contiene le firma digitale di tale archivio compresso.<br>
        <br>
        Se la tua connessione &egrave; buona puoi mandarci semplicemente l'archivio compresso.<br>
        In caso contrario sar&agrave; possibile sottomettere anche se hai poca o nessuna banda in upload: basta che ci invii la firma digitale entro i 
        tempi concordati per la consegna. Le modalità previste per l'invio sono spiegate entro lo stesso file "firma_digitale.txt"<br>
        <b>NOTA</b>: Non modificare l'archivio compresso, che dovrai far pervenire entro un paio di giorni. Non dovesse arrivarci egli stesso entro i tempi della consegna, potremo comunque ritenerlo valido solo se la sua firma digitale corrisponde a quella che ci hai mandato entro i termini della consegna.<br>

    </p> 
    
</div>
</body>
</html>
